{% extends "auxiliary/base.html" %}
{% load tz %}
{% load static %}
{% block content %}
  <div class="user-info">
    <div class="flex-clm">
      <img src="{{profile_user.profile.image.url}}" alt="profile-img">
      <div>
        <h2>{{profile_user.username}}<span class="user-tag">User</span></h2>
        <em>{{profile_user.email}}</em>
      </div>
    </div>
    <div class="bio-group">
      <strong>About Me:</strong>
      <p>{{profile_user.profile.description}}</p>
    </div>
  </div>
  <div class="user-concern">
    <div class="concern-head flex-row">
      <strong class="btn">Posted by {{profile_user.username}}</strong>
    </div>
    <div class="post-container">
      <div class="content-box">
        {% for post in posts %}
            {% if post.post_img %}
              <div class="card">
                <img src="{{post.author.profile.image.url}}" class="prof-image">
                <div class="reaction">
                  <div>
                    <button><i class="fa-solid fa-up-long fa-beat"></i></button>
                    <p>{{ post.total_upvotes }}</p>
                  </div>
                  <div>
                    <button><i class="fa-solid fa-flag fa-shake"></i></button>
                    <p>{{ post.total_flags }}</p>
                  </div>
                </div>
                <strong class="prof-name"><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a> <em class="date">{{ post.date_posted|timezone:"Asia/Manila"|date:"F d, Y" }} at {{ post.date_posted|timezone:"Asia/Manila"|time:"h:iA" }}</em></strong>
                <strong class="post-title"><a href="{% url 'post-detail' post.id %}">{{post.location}}</a></strong>
                <div class="post-content">
                  <img class="content-img" src="{{post.post_img.url}}" alt="content-image">
                  <p>{{post.content}}</p>
                </div>
              </div>
            {% else %}
              <div class="card">
                <img src="{{post.author.profile.image.url}}" class="prof-image">
                <div class="reaction">
                  <div>
                    <button><i class="fa-solid fa-up-long fa-beat"></i></button>
                    <p>{{ post.total_upvotes }}</p>
                  </div>
                  <div>
                    <button><i class="fa-solid fa-flag fa-shake"></i></button>
                    <p>{{ post.total_flags }}</p>
                  </div>
                </div>
                <strong class="prof-name"><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a> <em class="date">{{ post.date_posted|timezone:"Asia/Manila"|date:"F d, Y" }} at {{ post.date_posted|timezone:"Asia/Manila"|time:"h:iA" }}</em></strong>
                <strong class="post-title"> <a href="{% url 'post-detail' post.id %}">{{post.location}}</a></strong>
                <p class="post-content">{{post.content}}</p>
              </div>
            {% endif %}
        {% endfor %}  
      </div>
    </div>
  </div>
{% endblock content %}